@use '../mixins/responsive.scss' as *;

.contact {
	text-align: end;
	margin-bottom: 24px;

	&__title {
		font-weight: 200;
		text-align: center;
	}

	&__rrss {
		font-size: 30px;
		margin: 0;

		@include responsive(tablet) {
			font-size: 34px;
		}
	}
}
