.header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 53px 16px 16px 46px;

    &__icon {
        width: 20px;
    }

    &__nav {
        display: none;
    }
}